@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.topbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style-type: none;
  }

.topbar ul a {
    font-size: 22px;
    color:white;
    text-decoration: none;
}


.main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: green;
}

.part-one{
    display: flex;
     justify-content: space-around;s
    justify-content: center;
    padding: 20px;
    background-color:#1f2937;
    height:250px;
    color:white;    
}

.part-two{
    background-color: white;
        
}

.part-three, part-four{
    background-color: rgb(229,231,235);
}
.container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px ;
}
.

.footer{
    display: flex;
  align-items: center;
  justify-content: center;
}